:root {
  --yellow: #f9d342;
  /* --yellow:#f6df82; */
  --blue: #8aaae5;
  --gray: #292826;
}

/* --------------------------------- */
/*  ELEMENTS */
body {
  background-color: var(--gray);
  color: white;
  height: 100vh;
  font-size: 1.5rem;
  /* font-family: "Times New Roman", Times, serif; */
}

nav {
  height: 13vh;
}

nav p {
  font-weight: 600;
  font-size: 3rem;
  border-bottom: 5px solid var(--yellow);
}

footer {
  font-size: 1rem;
}

/* --------------------------- */
/* CLASSES */

.window,
.main,
.rules,
.finalMessage {
  /* max-width: 686px; */
  width: 644px;
  height: 430px;
  margin: auto;
}

.window {
  border-radius: 15px;
}

.QA-container {
  height: 40vh;
}

.container {
  height: 75vh;
}

.timer {
  float: right;
}

.question {
  height: 15vh;
}

.finalMessage {
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* --------------------------------- */
/* CHECKBOX */
input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--yellow);
}

/* --------------------------------- */
/* UTILITY CLASSES */
.hidden {
  visibility: hidden;
}

.hide-and-remove {
  display: none;
}

.red-color {
  color: red;
}

/* --------------------------------- */
/* TYPOGRAPHY */
.yellow-txt {
  color: var(--yellow);
}

/* --------------------------------- */
/* MEDIA QUERIES */
/* 
@media (max-width: 991px) {
  nav p {
    font-size: 1.75rem;
  }
} */

/* TABLET */
@media (max-width: 767px) {
  body {
    font-size: 1.25rem;
  }

  nav p {
    font-size: 2rem;
  }

  .window,
  .main,
  .rules,
  .finalMessage {
    width: 90vw;
    height: 70vh;
  }
}

/* SMARTPHONE */
@media (max-width: 575px) {
  body {
    font-size: 1rem;
  }

  .welcome-text {
    font-size: 1.5rem;
  }

  .window,
  .main,
  .rules,
  .finalMessage {
    width: 90vw;
    height: 50vh;
  }

  .container {
    margin: 0;
  }

  .QA-container {
    width: 90%;
    height: 30vh;
  }

  .question {
    height: 5vh;
  }

  .buttons {
    margin: 0px;
  }

  nav {
    height: 9vh;
  }
}
